# Byte-compiled files
__pycache__/
*.py[cod]

# Editor settings
.idea/
.vscode/

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
*.egg-info/
dist/
build/
*.egg

# Output data
data/*

# Logs
*.log

# Language cache
.mypy_cache/
.dmypy.json
.pytype/
.ruff_cache/
